.board {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: black;
}

.checkbox {
    margin-right: 10px;
}

ul {
    text-align: left;
    padding: 10px 20px;
    margin: 0;
}

li {
    list-style: none;
}